:host {
  .gallery-modal {
    position: relative;
    overflow: hidden;

    .close-button {
      position: absolute;
      top: 10px;
      left: 5px;
      background: none;
      box-shadow: none;
      z-index: 10;

      &.button-ios {
        top: 20px;
      }
    }

    .slider {
      /deep/ .slide-zoom {
        position: relative;
        height: 100%;
      }
    }

    .image-on-top {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;

      fitted-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
