:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  ion-scroll {
    width: 100%;
    height: 100%;
    text-align: left;
    white-space: nowrap;

    /deep/ .scroll-zoom-wrapper {
      width: 100%;
      height: 100%;
    }

    .image {
      display: inline-block;
      position: relative;

      min-width: 100%;
      min-height: 100%;

      transform-origin: left top;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      text-align: left;
      vertical-align: top;

      fitted-image {
        transform-origin: left top;
        pointer-events: none;
      }
    }
  }

  .fitted-image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    z-index: 1;
  }
}
