zoomable-image {
  width: 100%;
  height: 100%;

  ion-scroll {
    width: 100%;
    height: 100%;
    text-align: left;
    white-space: nowrap;

    .scroll-zoom-wrapper {
      width: 100%;
      height: 100%;
    }

    .image {
      display: inline-block;
      vertical-align: top;
      text-align: left;

      min-width: 100%;
      min-height: 100%;

      transform-origin: left top;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      img {
        pointer-events: none;
        max-width: none;
        min-width: none;
        transform-origin: left top;
      }
    }
  }
}
