:host {
  display: inline-block;

  .fitted-image {
    display: inline-block;
    position: relative;

    transform-origin: left top;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    text-align: left;
    vertical-align: top;

    ion-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      display: inline-block;
      min-width: 0;
      max-width: none;
      transform-origin: left top;
      vertical-align: top;
      pointer-events: none;
    }
  }
}
